$bg: #d4d4d4;

body {
  font-size: 1rem;
  background: $bg;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 1201px) {
  body {
    font-size: 1rem;
  }
  .newsCard {
    font-size: 1rem;
  }
  .more {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
}
